@use "variables" as *;

.button-link {
    position: relative;
    min-width: 100px;
    display: flex;
    background-color: var(--button-bg);
    border: solid 1px var(--button-bg);
    border-radius: 4px;
    &:hover {
        background-color: var(--button-hover-bg);
        .see-more {
            gap: 14px;
            color: var(--button-hover-text);
        }
    }
    .see-more {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--button-text);
        gap: 4px;
        padding: 6px 8px;
        transition: gap ease 0.4s;
        @media screen and (max-width: 768px) {
            gap: 8px;
        }
        @media screen and (max-width: 768px) {
            min-height: 36px;
            padding: 0;
            min-width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                background-color: var(--overlay);
                margin: 0;
                display: flex;
                width: 83%;
                height: 59%;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: 768px) {
                    width: fit-content;
                }
            }
        }
    }
}
